In [17]:
#여기는 python random
import random
print(random.random(), '\n') #0.0 <= x < 1.0 사이 난수 리턴 
print(random.randint(1, 10), '\n') #1 <= x <= 10 사이의 정수중에서 난수 값 리턴
print(random.uniform(10,20), '\n') #min,max 사이 float 리턴 
print(random.randrange(10), '\n') #지정 범위 int 리턴 
print(random.choice([1,2,3,4,5]), '\n') #리스트 내부에 있는 요소를 랜덤하게 선택
li = [1,2,3,4,5]
print(random.sample(li,3), '\n') #리스트 요소를 중복이 안 되게 리턴(리스트, 개수)  
random.shuffle(li) #리스트 요소를 다시 섞어서 리턴
#셔플은 섞고서 다시 리스트를 print 해야함 
print(li)

0.9894904057985534

4

14.596255417247836

4

4

[3, 1, 4]

[3, 1, 4, 5, 2]

## [numpy random 함수]

- np.random.seed : seed를 통한 난수 생성
- np.random.randint : 정수 난수 1개 생성
- np.random.rand : 0부터 1사이의 균일분포에서 난수 매트릭스 배열 생성
- np.random.randn : 가우시안 표준 정규분포에서 난수 매트릭스 배열 생성
- np.random.shuffle : 기존의 데이터의 순서 바꾸기
- np.random.choice : 기존 데이터에서 sampling

In [18]:
import numpy as np

r = np.random.rand(6) #0 ~ 1 사이의 균일 분포
print(r)
r.mean()

[0.55209409 0.98708679 0.1247309  0.71934973 0.60074023 0.17233313]

0.5260558105022827

In [19]:
r = np.random.rand(100000000) #0 ~ 1 사이의 균일 분포
# print(r)
r.mean()

0.5000291986940951

In [20]:
#표준 정규분포
r = np.random.randn(10000)
print(r, '\n')
r.mean()

[ 1.44380159 -0.49385765  0.04826893 ...  0.07194757 -2.05008279
 -0.19123334]

-0.018111030879437686

In [21]:
np.random.uniform(1.0, 2.0, 10) #마지막 인자는 개수

array([1.59752231, 1.75653543, 1.10130233, 1.6824003 , 1.73373252,
       1.45493435, 1.81519976, 1.86531676, 1.04159133, 1.64359812])

In [23]:
np.random.uniform(0,1,(2,3)) #행렬로도 개수가 뽑아짐 2행 3열

array([[0.2920603 , 0.54984116, 0.22577071],
       [0.67195046, 0.68344776, 0.69005685]])

In [24]:
# 0 ~ 1 사이의 난수 실수값으로 행렬 생성
#uniform 함수의 최소값, 최대값을 0,1로 지정한 것과 같음 
np.random.random_sample((2,3))

array([[0.63412398, 0.29127715, 0.1571354 ],
       [0.69897904, 0.30491476, 0.67612553]])

In [29]:
import pandas as pd
ar = np.random.rand(4, 8)

In [46]:
#배열을 df로 변환 
df = pd.DataFrame(ar, columns = ['id','gender','age','region','product','price','qty','time'])   
df

,id,gender,age,region,product,price,qty,time
0,0.431945,0.670850,0.889789,0.117539,0.605015,0.838399,0.550251,0.937367
1,0.522717,0.622931,0.344109,0.965066,0.252710,0.839775,0.057007,0.587330
2,0.195555,0.449390,0.436428,0.552256,0.383349,0.240885,0.629863,0.705455
3,0.192690,0.676939,0.691971,0.507255,0.216879,0.914737,0.892021,0.395973

In [66]:
#id, gender, age 컬럼에 대하여 의미있는 값으로 변환하여 3개의 컬럼으로 구성된 df3를 출력하세요. 
df.id = np.random.randint(10,99,4)
df.gender = np.random.choice(['male','female'],4)
df.age = np.random.randint(0,100,4)
df[['id','gender','age']]

   id  gender  age
0  77    male   88
1  19    male   88
2  93  female   12
3  31    male   58

In [68]:
#배열에서 정렬한 후 50%에 해당하는 원소만 출력
large_ar = np.random.randn(1000)
large_ar.sort() #ndarray.sort()는 원본 반영 됨

In [69]:
large_ar[int(0.5 * len(large_ar))]

0.018556526753355288

In [70]:
#배열 집합 연산
names = np.array(['Bob', 'Joe', 'Will','Joe', 'Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [72]:
names = np.array(['Bob', 'Joe', 'Will','Joe', 'Joe'])
sorted(set(names)) #set으로 중복 없애준거지 집합으로

['Bob', 'Joe', 'Will']

In [73]:
#첫번째 배열의 원소가 두번째 배열의 원소를 포함하는지 알려주는 불리언 배열을 반환
values = np.array([6, 0, 0, 3, 2, 5, 6])
np.in1d(values, [2, 3, 6])

array([ True, False, False,  True,  True, False,  True])

In [74]:
#배열 데이터의 입출력
ar = np.arange(10)
np.save('some_ar', ar)  #(이름, 데이터)

In [75]:
np.load('some_ar.npy')  #불러올 때

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [76]:
#np.savez : 여러 개의 배열을 압축된 형식으로 저장
np.savez('ar_archive.npz', a = ar, b = ar)

In [77]:
arch = np.load('ar_archive.npz')
arch['a'] #a만 불러오고싶을때

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [78]:
arch['b']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [80]:
a = np.arange(1, 10)
print(a, '\n')
np.argsort(a)

[1 2 3 4 5 6 7 8 9]

array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

In [81]:
#인덱스 배열을 역순으로 출력
np.argsort(a)[::-1]

array([8, 7, 6, 5, 4, 3, 2, 1, 0], dtype=int64)

In [91]:
#Q. 0~10 정수 (5,5) 행렬의 역행렬을 구한 후 두 행렬간의 행렬곱을 구하세요. 
np.random.seed(0)
mt1 = np.random.randint(11, size = (5, 5))
print(mt1, '\n')
mt2 = np.linalg.inv(mt1)
print(arr2, '\n')
np.dot(mt1, mt2)

[[ 5  0  3  3  7]
 [ 9  3  5  2  4]
 [ 7  6  8  8 10]
 [ 1  6  7  7  8]
 [ 1  5  9  8  9]]

[[-0.14402004  0.06199123 -0.0435191   0.19849718 -0.26768942]
 [ 0.02629931  0.13650595 -0.13118347 -0.02755166  0.09236068]
 [ 0.23794615 -0.14589856 -0.21070758 -0.15403882  0.81183469]
 [ 0.05385097 -0.1014402   0.20757671  0.03882279 -0.33469004]
 [-0.06700063  0.03318723  0.10801503 -0.02504696  0.03850971]]

array([[ 1.00000000e+00, -1.38777878e-17,  1.11022302e-16,
        -1.11022302e-16, -3.05311332e-16],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00],
       [-1.11022302e-16,  3.60822483e-16,  1.00000000e+00,
         2.22044605e-16, -5.55111512e-17],
       [ 0.00000000e+00,  1.11022302e-16,  0.00000000e+00,
         1.00000000e+00,  2.22044605e-16],
       [ 1.66533454e-16,  1.38777878e-17,  3.33066907e-16,
         1.11022302e-16,  1.00000000e+00]])

## 도전 과제(7/6)
- np.arange(336).reshape(6,7,8)에서 100번째 요소의 인덱스를 구하세요.
- np.arange(4)을 이용해서 아래와 같이 출력하세요.

In [ ]:
array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

### 과제(7/6): 아래 가이드에 따라서 고객별 연간 구매데이터를 생성하고 아래사항을 수행하세요(관측치 1000개)

#### Q1. 고객 속성(id, 성별, 연령, 거주지역) 데이터와 거래 데이터를 통합한 데이터 프레임 df를 생성하세요.

거래 번호
- id : 1 ~ 1000번 일련번호 - 개시 후 1천 건의 거래가 있었고 걍 거기에 넘버링한 거라고 이해해보자

고객별 속성 데이터
- cusno : 고객번호 1000개 랜덤
- gender : 0,1 정수 난수 생성
- age : 0 ~ 80사이 정수 난수 생성
- region : 1 ~ 10 사이 정수 난수 생성

거래 데이터

- product_20 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- product_21 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- price_20 : 1000 ~ 50000 사이 실수 난수 생성
- price_21 : 1000 ~ 50000 사이 실수 난수 생성
- quantity_20 : 1 ~ 100 사이 정수 난수 생성
- quantity_21 : 1 ~ 100 사이 정수 난수 생성
- amount_20 : price_20 * quantity_20
- amount_21 : price_21 * quantity_21
- sales : 20년 대비 21년구매금액이 증가면 1, 감소면 0

#### Q2. df를 수정하여 5가지 이상의 인사이트를 포함한 데이터 셋으로 변환하세요 ( 인사이트 내가 5개 정해서 df 수정하라는것 ) ex. 그룹핑을 해보든가 계산을 해서 새로운 칼럼을 만들든가 등등 .. ..

#### Q3. df 를 탐색적 분석을 통하여 인사이트를 도출하세요.(내가 정한 인사이트를 다시 도출)