#### Q. 남녀 파트너 정해주기 프로그램(zip) 
같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [ ]:
import random
male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)  #기존의 배열을 변경
random.shuffle(female)

for i, j in zip(male, female):
    print(f'{i} ♥ {j}')

로미오 ♥ 미미
철수 ♥ 갑순
이몽룡 ♥ 평강
온돌 ♥ 성춘향
갑돌 ♥ 줄리엣

#### Q2. 사용자가 입력한 횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복 X )

In [ ]:
import random

user = int(input('로또를 시행 할 횟수를 입력해주세요.'))

i = 0

while i < user:
    lotto = list(range(1, 46))
    print(random.sample(lotto,6))
    i += 1

로또를 시행 할 횟수를 입력해주세요.6
[19, 12, 43, 10, 3, 21]
[1, 20, 15, 7, 8, 39]
[38, 3, 40, 33, 34, 19]
[31, 4, 28, 41, 40, 38]
[13, 35, 5, 17, 31, 45]
[32, 21, 33, 22, 28, 8]

#### [도전과제] 발표자를 원하는 수만큼 랜덤하게 출력하는 프로그램을 작성하세요.

In [ ]:
cakd7 = ['박영권', '김현지', '김덕현','변서연','한지웅','양주희','이호원','정지은','이정현A','이정현B','이명진','이상윤','조승현','강유한','김영선','최애림','김민섭','박혜린','윤정준','김진형','정승기','진청아','신창훈','김병석','박세희']
len(cakd7)

25

#### Q3.입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요. EX) abc ->bca

In [ ]:
munja = list(input())

new = list('a' * len(munja))


for i in range(len(munja)):
    new[i - 1] = munja[i]

joined_new = "".join(new)
print(joined_new)

abc
bca

#### Q.4 url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
import re 


p = re.compile(r'\w+[.]\w+[.]com')

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

p.findall(url)

['news.naver.com']

#### url에서 쿼리문을 추출하여 출력하세요. 
- url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
- url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

> EX. mode=LSD

#### 텍스트 파일(mydata.txt)을 읽고  파일의 내용에서 나타나는 문자들에 대해 자주 나타나는 문자들을 아래와 같이 순서대로 출력하세요.
- \[ \] -> [177]회 나타남
- [e] -> [97]회 나타남
- [t] -> [85]회 나타남

In [ ]:
def getTextFreq(filename):
    with open(filename,'r') as f:
        text = f.read()
        fa = {}
        for c in text:
            if c in fa:
                fa[c] += 1
            else:
                fa[c] = 1
    return fa
ret = getTextFreq('data/mydata.txt')
ret = sorted(ret.items(),key=lambda x:x[1], reverse=True)
print(ret)
for c, freq in ret:
    if c =='\n':
        continue
    print('[%c] - > [%d]회 나타남' %(c,freq))

[(' ', 177), ('e', 97), ('t', 85), ('a', 78), ('o', 73), ('n', 60), ('s', 60), ('r', 54), ('i', 50), ('h', 48), ('\n', 43), ('l', 34), ('u', 27), ('d', 24), ('c', 23), ('w', 20), ('m', 20), ('f', 17), ('y', 15), ('p', 15), ('b', 13), ('g', 11), ('v', 9), ("'", 8), ('k', 7), ('!', 2)]
[ ] - > [177]회 나타남
[e] - > [97]회 나타남
[t] - > [85]회 나타남
[a] - > [78]회 나타남
[o] - > [73]회 나타남
[n] - > [60]회 나타남
[s] - > [60]회 나타남
[r] - > [54]회 나타남
[i] - > [50]회 나타남
[h] - > [48]회 나타남
[l] - > [34]회 나타남
[u] - > [27]회 나타남
[d] - > [24]회 나타남
[c] - > [23]회 나타남
[w] - > [20]회 나타남
[m] - > [20]회 나타남
[f] - > [17]회 나타남
[y] - > [15]회 나타남
[p] - > [15]회 나타남
[b] - > [13]회 나타남
[g] - > [11]회 나타남
[v] - > [9]회 나타남
['] - > [8]회 나타남
[k] - > [7]회 나타남
[!] - > [2]회 나타남

#### Q7. 두 개의 수를 입력한 후 두 개의 수에 대한 사칙 연산을 수행하세요.
(0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
# Cal4 클래스를 만들어서 작성하세요.
class Cal4:
    """두 개의 수를 입력 받아 두 개의 수에 대한 사칙 연산을 수행하는 클래스"""
    def __init__(self, a, b):  #self 매개변수로 인스턴스를 전달 받기, 두 개의 수를 입력 받는 매개변수 - a, b 
        self.a = a
        self.b = b

    def add(self):  #더하기 메서드 정의
        print(self.a + self.b)
    
    def sub(self):  #빼기 메서드 정의
        print(self.a - self.b)
    
    def mul(self):  #곱하기 메서드 정의
        print(self.a * self.b)

    def div(self):  #나누기 메서드 정의
        print(round((self.a / self.b), 2)) 

Cal4_num = Cal4(8,3)

print('더하기 결과:',end = '')
Cal4_num.add()

print('빼기 결과:',end = '')
Cal4_num.sub()

print('곱하기 결과:',end = '')
Cal4_num.mul()

print('나누기 결과:',end = '')
Cal4_num.div()

더하기 결과:11
빼기 결과:5
곱하기 결과:24
나누기 결과:2.67

#### Q8. Order 클래스를 상속받아 extraOrder 클래스에서 메소드 오버라이딩하여 출력가격에 원이 추가되도록 출력하세요.

In [ ]:
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer

order = Order('kevin')
print(order.order(1000))

In [ ]:
#sol)
# 원래 하위 클래스에서 재정의한 속성은 상위 클래스의 속성을 덮음. 
# but,  
# super()는 이 인스턴스가 속한 클래스의 상위클래스로 평가되는 함수 
# → 상위 클래스의 정의한 속성 초기화
class Order: 
    def __init__(self, name): 
        self.customer = 0 
        self.name = name 
    def order(self, price): 
        self.customer += price 
        return self.customer

class extraOrder(Order): 
    def __init__(self, name):
        super().__init__(name)
    
    def won_order(self, price):
        a = super().order(price)
        return str(a) + '원'

order = Order('kevin')
print(order.order(1000), '\n')
extraorder =  extraOrder('kevin')
print(extraorder.won_order(1000))

1000

1000원

#### Q9. 업무미팅이 2시임을 알려주는 자동 이메일을 클래스 AutoEmail을 작성하여 아래와 같이 출력하세요.
안녕하세요. kevin님, 업무미팅은 2시입니다.

In [ ]:
class AutoEmail:
    def __init__(self, name, work, time):  
        self.name = name
        self.work = work
        self.time = time
        
    def noti(self):    
        print(f'안녕하세요.{self.name}님, {self.work}은 {self.time}입니다.')

kevin = AutoEmail('Kevin', '업무미팅', 2)
kevin.noti()

안녕하세요.Kevin님, 업무미팅은 2입니다.

#### Q10. 정규표현식을 사용하여 test에서 전화번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [ ]:
import re 

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

#정규표현식 컴파일
p = re.compile(r'\d+[-]\d+[-]\d+')

#search - 문자열 전체를 검색하여 정규식과 매치되는지 조사
#group() - 매치된 문자열을 돌려준다.
print(p.search(text).group())

032-232-3245

#### Q11. 정규표현식을 사용하여 text에서 에러가 들어간 부분만 포함하는 리스트를 출력하세요.
text = "에러 1122, 레퍼런스 오륲, 에러 1033, 아규먼트 오류, 에러 xxx"

In [ ]:
import re 

text = "에러 1122, 레퍼런스 오륲, 에러 1033, 아규먼트 오류, 에러 xxx"

p = re.compile(r"[에러]+\s+\w+")

#findall() - 정규식과 매치되는 모든 문자열을 리스트로 돌려준다.
p.findall(text)

['에러 1122', '에러 1033', '에러 xxx']

#### Q12. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [ ]:
import re 

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

#정규표현식 컴파일
p = re.compile(r'(\d+)[-](\d+)[-](\d+)')

#group(0) - 매치된 전체 문자열
print(p.search(text).group(1))

032

#### Q13. 정규표현식을 사용하여 text에서 지역코드 제외한 번호만 출력하세요.
text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

In [ ]:
import re 

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

#정규표현식 컴파일
p = re.compile(r'(\d+)[-](\d+)[-](\d+)')

#group(0) - 매치된 전체 문자열
print(p.search(text).group(2), '-', p.search(text).group(3) , sep='')

232-3245

In [ ]:
#답지 풀이 
import re

text = "문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다."

#정규표현식 컴파일
p = re.compile(r'(\d+)[-](\d+[-]\d+)')

#group(0) - 매치된 전체 문자열
print(p.search(text).group(2))

232-3245

#### Q14. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [ ]:
#그룹이 중첩되어 있는 경우 바깥쪽부터 시작하여 안쪽으로 들어갈 수록 인덱스가 증가한다.

text = 'abcdefghij'
p = re.compile(r'a(b(c(d((e)f)g)h)i)j')

print(p.search(text).group(0), p.search(text).group(5))

abcdefghij e

In [ ]:
#답지 풀이

p = re.compile('(a(b(c(d(e)f)g)h)i)j')
m = p.match('abcdefghij')
print(m.group(0))
print(m.group(1))
print(m.group(2))
print(m.group(3))
print(m.group(4))
print(m.group(5))

abcdefghij
abcdefghi
bcdefgh
cdefg
def
e

#### Q15. 위문제에서 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 출력하세요.

In [ ]:
#groups() 메서드는 모든 서브 그룹에 대한 문자열을 포함하는 튜플을 반환

text = 'abcdefghij'
p = re.compile(r'a(b(c(d((e)f)g)h)i)j')

p.search(text).groups()

('bcdefghi', 'cdefgh', 'defg', 'ef', 'e')

#### Q16. 이름으로 그룹을 참조하여 'Lots of punctuation 에서 Lots를 출력하세요.

#### Q.17 'Paris is very very beautiful.'에서 'very very'를 출력하세요.

#### Q18. 정규표현식을 작성하여 아래와 같이 출력하세요. 
['1 apple', '5 oranges', '3 boys', '4 girls', '10 army', '11 mr']

In [ ]:
# Q18
import re
li = '1 apple, 5 oranges, 3 boys, 4 girls; 10 army| 11 mr'
regex = re.compile(      )
list = regex.findall(li)
print(list)

#### Q19. text에서 'H,h' 만 출력하세요.

text = 'Hello my friend! Life is short you need Python!'

#### Q20. text(19번)에서 'H,h'가 아닌 것만 출력하세요.

#### Q21. 'we are going home'에서 home만 출력하세요.

####Q22. '199305, 1923A, a93247'에서 '199305'만 출력하세요.

In [ ]:
#숫자 6개 이렇게 개수로 조져주면 될거같기도

#### Q23. '12345abc'에서 'abc'만 출력하세요.

#### Q24. '12345abc'에서 'a'만 출력하세요.

Q25. 'abc12345Abc'에서 'A'만 출력하세요.

#### Q26. 'Banker'에서 'anker', 'banker123'에서 'banker'를 출력하세요

#### Q27. 'KOREA 대한민국'에서 '대'만 출력하세요.

#### Q28. text에서 'aaaaBBBcccDDDeee'을 모두 출력하세요.

text = 'aaaBBccDDeeaaaaBBBcccDDDeeeeeeDDDcccBBBaaaa'

#### Q29. 아래의 경우에서 \<html>만 출력하세요.

```
text = '<html><head><title>Title</title></head><body></body></html>'

pattern = re.compile('<.*>')


print(len(text))
p = pattern.search(text)
p.group()
```

#### Q30. '1234a1234'에서  '1', '2', '3', '4'를 모두 출력하세요.

#### Q32. text에서 전체문장 모두 출력하세요.

In [2]:
# Q.
import re
text = "what are you doing?\nit is going to be late for school\nwe need to hurry up"
regex = re.compile('.*')
mo = regex.search(text)
print(mo.group())

what are you doing?

#### Q33. text에서 대소문자 구분없이 전체문장 모두 출력하세요
text = 'Friend fRiend friEnd FRIEND'

#### Q34. 1609160537.371015을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.

#### Q35. 현재 날짜와 시간을 "Sat Jun 26 08:35:03 2021" 포멧으로 출력하세요.